* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/img/fondo-pag-speciali.jpg");
}

header {
  height: 200px;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 15px;
}
header img {
  height: 150px;
  width: 150px;
}

.container-box {
  max-width: 1200px;
  margin: 0 auto;
}
.container-box h2 {
  color: #002d75;
}
.container-box .cards {
  display: flex;
  flex-wrap: wrap;
}
.container-box .cards .box-cards a img {
  width: 350px;
  margin: 2px;
}

.product {
  background-color: #b8dae4;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product h3, .product p {
  color: #002d75;
  margin: 15px;
}
.product img {
  width: 850px;
  height: 300px;
  margin: 40px;
}
.product .box-text {
  width: 1200px;
  margin: 15px;
}

footer {
  background-image: url("/img/footer-montagne-bottom.jpg");
  height: 150px;
  background-position: bottom;
  background-repeat: no-repeat;
}
