* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-box {
  max-width: 1200px;
  margin: 0 auto;
}
.container-box .cards {
  display: flex;
  flex-wrap: wrap;
}
.container-box .cards .box-cards a img {
  width: 350px;
}
